table {
    border-collapse: collapse;
    width: 75%;
    font-family: sans-serif;
  }
  
  table, th, td {
    border: 1px solid #000;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #CCCCCC;
    font-weight: bold;
  }
  
  tr:nth-child(odd) {
    background-color: #FFF2CC;
  }